@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --black: #000;
  --black1: #333;
  --form: #999;
  --white-text: #fff;
  --white: #e5e5e5;
  --transition: all 0.7s ease;
  --blue: #287bff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  outline: none;
  letter-spacing: 0.7px;
  list-style-type: none;
  text-decoration: none;
}

/* preload */
#preloader {
  background-color: #262626;
  /* background-image: url(../Image/loading.gif); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 150;
}
.heading {
  font-weight: 600;
  color: var(--black1);
  font-size: 20px;
}

.admin_container {
  position: relative;
  width: 100%;
}
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: var(--transition);
  overflow: hidden;
}
.navigation.active {
  width: 70px;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
/* .navigation ul li:hover, */
.navigation ul li.active {
  background: var(--white);
}
.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  /* pointer-events: none; */
}
.navigation ul li a {
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: var(--white-text);
}
/* .navigation ul li:hover a, */
.navigation ul li.active a {
  color: var(--black1);
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.65em;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  pad: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* .navigation ul li:hover a::before, */
.navigation ul li.active a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
/* .navigation ul li:hover a::after, */
.navigation ul li.active a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===== Dashboard Mein Contant Start ===== */
.main-contant {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: var(--transition);
}
.main-contant.active {
  width: calc(100% - 65px);
  left: 65px;
}
.topbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 10px;
}
.toggle {
  position: relative;
  font-size: 2.5em;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle ion-icon {
  font-size: 0.8em;
}
.admin img {
  width: 50px;
}
.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}
.search label {
  width: 100%;
  position: relative;
}
.search label input {
  width: 100%;
  height: 40px;
  padding: 5px 20px;
  /* padding-left: 40px; */
  border-radius: 40px;
  outline: none;
  border: 1px solid var(--black1);
  margin: 0;

}
.search label i {
  position: absolute;
  top: 0px;
  display: inline-block;

  right: 15px;
  font-size: 1rem;
}
.admin {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
}

.admin img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}




@media only screen and (max-width: 991px) {
  
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main-contant {
    width: 100%;
    left: 0;
  }
  .main-contant.active {
    left: 300px;
  }

}
@media only screen and (max-width: 480px) {
  .admin {
    min-width: 40px;
  }
  .heading {
    font-size: 18px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 100;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 101;
  }
  .toggle.active {
    color: var(--white);
  }
}
