@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


* {
  font-family: 'Raleway', sans-serif;

  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  outline: none;
  letter-spacing: 0.7px;
  list-style-type: none;
  text-decoration: none !important;
  /* font-family: 'Merriweather', serif; */

}


body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.about_container {
  background-image: url('./Img/about.jpeg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

}

.about_container .menu_container li a,
.about_container .menu_header a {
  padding: 10px 15px;
  color: #fff !important;
  font-size: 1.05rem;
}

.about_container .menu_header h1 {
  color: #fff !important;
}

.contact_Page_container {
  /* background-image: url('./Img/about.jpeg');
  background-position: 50% 50%;
  background-repeat: no-repeat; */
  background: #c5c5c5;

}

.contact_Page_container .menu_container li a,
.contact_Page_container .menu_header a {
  padding: 10px 15px;
  color: #fff !important;
  font-size: 1.05rem;
}